<footer class="mt-5">
  <div class="d-flex justify-content-between footer px-5 py-3" style="">
    <div class="col-2 footer-item">
    <br><br><br><br><br><br><br><br>
      <p class="shadow">As we commemorate the start of a new chapter in AIESEC, The AIESEC Ball 21.22 OC welcomes you to our AIESEC wall in that could help you look back, reminisce and enjoy the moments that could be passed on to the future generations. 
<br><br>We, the AIESEC Ball OC 2022, envision that this event becomes inclusive and to be able to create heartfelt and memorable moments for the attendees. With this, we hope that you help us achieve this vision of ours as we celebrate the members and everyone else who made this event possible. </p>
    </div>
    <div class="footer-item">

    </div>
  </div>
  <div class="footer-item text-center">
  <br><br><br><br><br><br><br><br><br><br><br><br>
    <small class="text-center" style="color:black;"> ©2021 Chu, Jardiniano, See</small>
  </div>
</footer>

<style>
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
  }

  footer::before {
    content: "";
    background-image: url('/photos/ocfooter.jpg');
    position: absolute;
    top: 0%; left: 0%; right: 0%;
    width: 100%; height: 100%;
  }

  .footer-item {
    position: relative;
  }

p{
        font: 16px sans-serif;
    }
    p.shadow{
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    }
  

</style>
