<footer class="mt-5">
  <div class="d-flex justify-content-between footer px-5 py-3" style="">
    <div class="col-2 footer-item">
    <br><br><br><br><br><br><br><br><br>
      <h5 style="color:black;"><strong>About us</strong></h5>
      <p style="color:black;">AIESEC Ball OC is </p>
    </div>
    <div class="footer-item">

    </div>
  </div>
  <div class="footer-item text-center">
  <br><br><br><br><br><br><br><br><br><br><br><br>
    <small class="text-center" style="color:black;"> ©2021 Chu, Jardiniano, See</small>
  </div>
</footer>

<style>
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
  }

  footer::before {
    content: "";
    background-image: url('/photos/ocfooter.jpg');
    position: absolute;
    top: 0%; left: 0%; right: 0%;
    width: 100%; height: 100%;
  }

  .footer-item {
    position: relative;
  }

  

</style>
