<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  {{!-- Font --}}
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

  <title>AIESEC WALL</title>
</head>


<body>
  {{{ body }}}
</body>

<style>
  body {
    font-family: 'Raleway';
    font-size: 16px;
  }

  img {
    object-fit: cover;
  }

  .btn-gradient {
    transition: background-image 1s ease-in;
    background: linear-gradient(90deg, rgba(222,147,147,1) 0%, rgba(246,217,142,1) 100%);
    border: none;
    color: white;
  }

  .btn-gradient:hover {
    background: linear-gradient(90deg, rgba(222,105,105,1) 0%, rgba(224,198,132,1) 100%);
    color: white;
  }

  .heart-gradient {
    fill: linear-gradient(90deg, rgba(222,147,147,1) 0%, rgba(246,217,142,1) 100%);
  }

  .heart-gradient:hover {
    fill: linear-gradient(90deg, #de6969 0%, #e0c684 100%);
  }

  .fa-facebook {
    background: #7f9fd0;
    color: white;
  }

  .fa-medium {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

</style>

</html>