{{> nav }}

<div class="card text-center w-50 mx-auto p-3">
  <div class="card-body">
    <img src="/photos/error-404.png" class="mt-1 mx-2 img" alt="404 image" style="width: 100px; height: 100px;"srcset="">
    <h1>This page does not exist</h1>
  </div>
</div>

{{> footer}}