{{> nav }}

<div class="card text-center w-50 mx-auto p-3">
  <div class="card-body">
    <img src="/photos/500.png" class="mt-1 mx-2 img" alt="404 image" style="width: 100px; height: 100px;"srcset="">
    <h1>Server error: Our bad</h1>
    <h2>{{error}}</h2>
  </div>
</div>
