{{> nav}}
<h1 class="text-center"><strong>Guidelines</strong></h1>
<hr style="height: 20px;" class="w-75 my-3 mx-auto spacer">
<div class="p-3">
<h4 class="text-center">Failure to follow these rules may result to your posts be taken down.</h4>

  <ul class="list-group">
    <li class="list-group-item">
      <h4>1. Respect each other </h4>
        <p>Be respectful and kinds towards everyone. This website will not tolerate insensitivity, exclusivity, and negativity! </p>
    </li>
      <li class="list-group-item">
      <h4>2. Offenses will not be tolerated </h4>
        <p>No inappropriate, sexually explicit, or offensive nicknames/content/profile pictures. NSFW content is strictly prohibited. Please practice proper netiquette in this website. </p>
    </li>
      <li class="list-group-item">
      <h4>3. Avoid trigger sensitive topics </h4>
        <p>Be aware when discussing sensitive topics. Try to avoid discussing sensitive topics such as self-harm or mental health-related topics without the consent of those you are planning to involve in the conversation. </p>
    </li>
      <li class="list-group-item">
      <h4>4. No outsiders allowed </h4>
        <p>This website is STRICTLY solely for members of AIESEC in DLSU-M. Members are not allowed to invite externals who are currently not a part of AIESEC in DLSU-M to this website. </p>
    </li>
      <li class="list-group-item">
      <h4>5. Have fun</h4>
      <p>Make sure to enjoy and use this website to foster a positive community.</p>
    </li>
           
  </ul>
</div>
  
<br></br>
<h1 class="text-center"><strong>About</strong></h1>
<hr style="height: 20px;" class="w-75 my-3 mx-auto spacer">
<div class="p-3">
  <h2 class="text-center">Dependencies</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/dotenv"><h4>Dotenv</h4></a>
      <p>Dotenv is a zero-dependency module that loads environment variables from a .env file into process.env. Storing configuration in the environment separate from code is based on The Twelve-Factor App methodology.</p>
    </li>
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/express"><h4>Express</h4></a>
      <p>Fast, unopinionated, minimalist web framework for node.</p>
    </li>
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/express"><h4>Express Handlebars</h4></a>
      <p>A Handlebars view engine for Express which doesn't suck.</p>
    </li>
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/express-handlebars"><h4>Express Handlebars</h4></a>
      <p>A Handlebars view engine for Express which doesn't suck.</p>
    </li>
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/express-session"><h4>Express Session</h4></a>
      <p>This is a Node.js module available through the npm registry.</p>
    </li>
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/mongoose"><h4>Mongoose</h4></a>
      <p>Mongoose is a MongoDB object modeling tool designed to work in an asynchronous environment. Mongoose supports both promises and callbacks.</p>
    </li>
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/multer"><h4>Multer</h4></a>
      <p>Multer is a node.js middleware for handling multipart/form-data, which is primarily used for uploading files. It is written on top of busboy for maximum efficiency.</p>
    </li>
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/passport"><h4>Passport</h4></a>
      <p>Passport is Express-compatible authentication middleware for Node.js.

Passport's sole purpose is to authenticate requests, which it does through an extensible set of plugins known as strategies. Passport does not mount routes or assume any particular database schema, which maximizes flexibility and allows application-level decisions to be made by the developer. The API is simple: you provide Passport a request to authenticate, and Passport provides hooks for controlling what occurs when authentication succeeds or fails.</p>
    </li>
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/passport-local"><h4>Passport Local</h4></a>
      <p>Passport strategy for authenticating with a username and password.

This module lets you authenticate using a username and password in your Node.js applications. By plugging into Passport, local authentication can be easily and unobtrusively integrated into any application or framework that supports Connect-style middleware, including Express.</p>
    </li>
    <li class="list-group-item">
      <a href="https://www.npmjs.com/package/passport-local-mongoose"><h4>Passport Local Mongoose</h4></a>
      <p>Passport-Local Mongoose is a Mongoose plugin that simplifies building username and password login with Passport.</p>
    </li>
  </ul>
</div>

{{> footer}}

<style>
  .spacer {
    background: linear-gradient(90deg, rgba(222,147,147,1) 0%, rgba(246,217,142,1) 100%);
  }
</style>