{{> nav }}

<div class="p-5">
  <div class="d-flex mb-5 justify-content-center">
    <div class="m-4 col-6 align-self-center">
      <h1 class="display-4">AIESEC BALL: KEEPSAKE</h1>
      <p>AIESEC Ball is a year-end event celebrating AIESEC in DLSU's achievements during the term. This allows us to remember and commmemorate the growth and progress we've made as youth leaders. Let's take part in preserving & remembering those memories by storing them down in this AIESEC Wall!</p>
      <br>
      <p><b>Take note:</b>Access this website on your PC/Laptop/Ipad and NOT your phone!</p>
      <a href="/user/signup" class="btn btn-gradient p-2" style="width: 15%"><strong>Signup now</strong></a>
    </div>
    <img src="/photos/keepsake.png" class="col-5" style="" alt="" srcset="">
  </div>

  <hr style="height: 20px;" class="w-75 my-3 mx-auto spacer">

  <div class="my-5">
    <h2 class="text-center my-4"><strong>Features</strong></h2>
    <div class="d-flex justify-content-between text-center">
      <div class="card mx-4 feature-item">
        <div class="card-body">
          <img src="/photos/post.png" class="mx-2" style="width: 10rem" alt="">
          <h5 class="text-center my-2"><strong>Post</strong></h5>
          <p>Share your fondest memories in AIESEC with the rest of the LC, whether that be zoomfies or pics irl! Treat this like a Facebook wall 🙂 Use the different pages/tabs to your liking! Have fun everyone ♡ </p>
        </div>
      </div>
      <div class="card mx-4 feature-item">
        <div class="card-body">
          <img src="/photos/comment.png" class="card-img" style="width: 10rem;" alt="">
          <h5 class="text-center my-2"><strong>Comment</strong></h5>
          <p>Feel free to comment on other people’s posts! Let’s use this space to promote inclusivity and a sense of community within the LC! </p>
        </div>
      </div>
      <div class="card mx-4 feature-item">
        <div class="card-body">
          <img src="/photos/reaction.png" class="card-img" style="width: 10rem" alt="">
          <h5 class="text-center my-2"><strong>Heart React</strong></h5>
          <p>Show your love to the LC if you like what they posted by simply clicking the heart button below! Let's spread the love!</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}

<style>
  .spacer {
    background: linear-gradient(90deg, rgba(222,147,147,1) 0%, rgba(246,217,142,1) 100%);
  }
</style>
