{{> nav }}

<div class="p-5">
  <div class="d-flex mb-5 justify-content-center">
    <div class="m-4 col-6 align-self-center">
      <h1 class="display-4">AIESEC BALL: KEEPSAKE</h1>
      <p>A community forum website for the organization, AIESEC in DLSU-M, that allows users to post questions, thoughts, and sentiments on love, life, and academics, as well as post motivational and inspirational quotes and messages for fellow orgmates.</p>
      <a href="/user/signup" class="btn btn-gradient p-2" style="width: 15%"><strong>Signup now</strong></a>
    </div>
    <img src="/photos/keepsake.png" class="col-5" style="" alt="" srcset="">
  </div>

  <hr style="height: 20px;" class="w-75 my-3 mx-auto spacer">

  <div class="my-5">
    <h2 class="text-center my-4"><strong>Features</strong></h2>
    <div class="d-flex justify-content-between text-center">
      <div class="card mx-4 feature-item">
        <div class="card-body">
          <img src="/photos/post.png" class="mx-2" style="width: 10rem" alt="">
          <h5 class="text-center my-2"><strong>Post</strong></h5>
          <p>Taking note of the guidelines first, feel free to post what you want! There are several tabs where you can post under including Love, Academics, Life, AIESEC, and so on! Just post what’s on your mind, ask for advice, and have fun!</p>
        </div>
      </div>
      <div class="card mx-4 feature-item">
        <div class="card-body">
          <img src="/photos/comment.png" class="card-img" style="width: 10rem;" alt="">
          <h5 class="text-center my-2"><strong>Comment</strong></h5>
          <p>Want to help a fellow AIESECer out? Or maybe you just want to converse with them? This website has the comment feature just for you! Feel free to comment on any of the AIESECers’ post! Have fun!</p>
        </div>
      </div>
      <div class="card mx-4 feature-item">
        <div class="card-body">
          <img src="/photos/reaction.png" class="card-img" style="width: 10rem" alt="">
          <h5 class="text-center my-2"><strong>Heart React</strong></h5>
          <p>Show your love to anyone if you like what they posted by simply clicking the heart button below! Let's spread the love.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}

<style>
  .spacer {
    background: linear-gradient(90deg, rgba(222,147,147,1) 0%, rgba(246,217,142,1) 100%);
  }
</style>
